* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

header {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.image {
  width: 60px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin: 0px 20px;
}

.menu ul li a {
  color: #464646;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

.jumbotron {
  height: 400px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  position: relative;
}

.container-button {
  width: 80%;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  display: flex;
  padding: 10px;
  border: none;
  background-color: #0282f9;
  color: white;
}

.btn-jumbo {
  position: absolute;
  bottom: -20px;
}